* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  background-image: url(./images/bg-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100vh;
  /* z-index: 0;
    display: flex; */
}

/* .navbar {
} */

.myImage {
  z-index: 1;
}

.details {
  margin-top: -48px;
}

.school-logo {
  height: 16vh;
}

.school1,
.school2,
.school3,
.school4 {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.studyDuration {
  width: fit-content;
  color: #999;
}

.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 30px;
  margin-top: 50px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  grid-area: 1 / 2 / 2 / 3;
}
.div3 {
  grid-area: 2 / 1 / 3 / 2;
}
.div4 {
  grid-area: 2 / 2 / 3 / 3;
}

.contactParent {
  margin: 20px;
  /* background-color: rgb(27, 27, 27); */
  border-radius: 10px;
  padding: 30px;
}

.contact-flex {
  display: flex;
  justify-content: center;
  width: 100%;
}

.contact-left {
  width: 600px;
}

.contact-right {
  width: 600px;
  padding: 30px;
  border: solid gray;
}

.contact-item {
  display: flex;
  align-items: start;
  margin-bottom: 50px;
}

.contact-text {
  line-height: 20px;
}

.contact-cap {
  color: #999;
}

/* .contact-caption {
  font-size: 18px;
  line-height: 25px;
} */

.input-box {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f1f1f1;
  border: none;
  color: black;
  font-size: 20px;
}

.textbox,
.input-box::placeholder {
  font-size: 20px;
  opacity: 0.5;
  /* color: red; */
}

.textbox:focus,
.input-box:focus {
  font-size: 20px;
  background-color: white;
  opacity: 0.5;
  /* color: red; */
}

.textbox {
  width: 100%;
  padding: 10px;
  margin-bottom: 30px;
  background-color: #f1f1f1;
  color: black;
  font-size: 20px;
  border: none;
}

button {
  border-radius: 20px;
  border: none;
  padding-left: 15px;
  padding-right: 15px;
}

.skillImage {
  width: 80px;
}