.hero {
  background-image: url(./images/bg-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100vh;
  /* z-index: 0;
    display: flex; */
}

.navbar {
  background-color: rgba(194, 194, 194, 0.438);
}

.myImage {
  z-index: 1;
}
.details {
  margin-top: -48px;
}
